<div class="navbar navbar-default">
  <a class="navbar-brand" href="#">ShowTracker</a>
  <ul class="nav navbar-nav">
    <li>
      {{#link-to 'shows'}}Shows{{/link-to}}
    </li>
    <li>
      {{#link-to 'about'}}About{{/link-to}}
    </li>
  </ul>
</div>